/* ========== RESET ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ========== BODY ========== */
body {
    background: #f2f2f2;
}

/* ========== NAVBAR ========== */
nav {
    width: 100%;
    background: #d95700;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav .wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

/* ========== WRAPPER ========== */
.wrapper {
    width: 90%;
    margin: 30px auto;
}

/* ========== KOLOM ========== */
.kolom {
    margin-bottom: 25px;
}

.kolom h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d95700;
}

.kolom p {
    font-size: 16px;
    line-height: 1.6;
}

/* ========== GAMBAR UMUM ========== */
img {
    width: 100%;
    border-radius: 10px;
}

/* ========== TOMBOL ========== */
.tbl-biru {
    background: #d95700;
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.tbl-biru:hover {
    background: #d95700;
}

/* ========== SECTION ========== */
section {
    margin-bottom: 50px;
}

/* ========== CARD JURUSAN & EKSKUL ========== */
.kartu-tutor, .kartu-partner {
    width: 250px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.15);
    text-align: center;
}

.kartu-tutor p,
.kartu-partner p {
    margin-top: 10px;
    font-weight: bold;
}

.tutor-list, .partner-list {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* ========== FOOTER CONTACT ========== */
.contact {
    width: 100%;
    background: #d95700;
    padding: 25px 0;
    color: #fff;
}

.footer-section {
    width: 80%;
    margin: auto;
}

.footer-section h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer-section p {
    line-height: 1.6
}